.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-form {
    padding: 0 10%;
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 500px;
}

#contact-form div input {
    padding: 10px;
    width: 250px;
    margin-bottom: 5px;
    font-family: var(--cormorant);
}

#contact-form .text {
    height: 200px;
    padding-top: 10px;
    padding: 10px;
    font-family: var(--cormorant);

}

#contact-form button {
    width: 150px;
    height: 40px;
    align-self: center;
    justify-self: center;
    padding: 10px;
    margin: 10px 0;
}


.container-form button {
    font-size: .8rem;
    padding: 10px 20px 10px 20px;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border-radius: 30px;
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
}

.container-form button:hover {
    box-shadow: none;
    color: white;
  }