:root {
    --custom-white-focus: rgba(255, 255, 255, 0.964);
    --custom-white-unfocus: rgba(255, 255, 255, 0.823);
    --custom-grey: grey;
    --cormorant: 'Cormorant Garamond', serif;
    --poppins: 'Poppins', sans-serif;
    --quicksand: 'Quicksand', sans-serif;
}


li {
    list-style: none;
}